@import url(https://fonts.googleapis.com/css2?family=Young+Serif&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap);

body {
  background-color: hsl(30, 54%, 90%);
  height: 100dvh;
}

.white-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: 30rem;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 800px;
  height: 98rem;
  border-radius: 2%;
  padding: 2rem;
}

.omelette-img {
  width: 50rem;
  height: 20rem;
  border-radius: 10px;
}

.simple {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.simple-paragraph {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}

.purple-box {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
  border-radius: 10px;
}

.preparation {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.prep-list li {
  padding-left: 1rem;
  line-height: 2rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}

.prep-list li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ing-list li {
  padding-left: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  color: hsl(30, 10%, 34%);
}

.ing-list li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inst-list li {
  padding-left: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: hsl(30, 10%, 34%);
}

.inst-list li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.inst-sect {
  border-top: 1px solid hsl(30, 18%, 87%);
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.nutrition-paragraph {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}

table {
  line-height: 2rem;
  border-collapse: collapse;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.border-tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.color-td {
  color: hsl(14, 45%, 36%);
}

.grey-td {
  color: hsl(30, 10%, 34%);
  padding-left: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
